DATABASE_URL="postgresql://neondb_owner:<Password>@ep-lingering-thunder-ate1tkym-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
GROQ_API_KEY=gsk_your_actual_api_key_here
GITHUB_APP_ID="your_app_id"
GITHUB_WEBHOOK_SECRET="your_webhook_secret"
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_APP_URL=https://github.com/apps/
GITHUB_CLIENT_ID="your_oauth_app_client_id"
GITHUB_CLIENT_SECRET="your_oauth_app_client_secret"
AUTH_SECRET="your_random_secret_here"
ARMORIQ_API_KEY=
USER_ID=
AGENT_ID=
NEXT_PUBLIC_APP_URL=http://localhost:9002
UPSTASH_REDIS_REST_URL=
GROQ_MODEL=openai/gpt-oss-20b